#faqContainer {
  margin-top: 100px;
  margin-bottom: 150px;
}

div #faqContainer h1 {
  font-family: Red Hat Display;
  margin-bottom: 20px;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(11, 255, 224, 1) 50%,
    rgba(255, 255, 255, 1) 90%
  );
}

div #faqContainer button {
  font-family: Montserrat;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  box-shadow: none !important;
}

div #faqContainer button:focus{
  color: #2fc984;
}

div #faqContainer .card {
  margin-bottom: 10px;
  border: 1px solid lightgrey;
}

.question-icon {
  margin-right: 10px;
  font-size: 17px;
}

#moreQuestions {
  display: block;
  text-align: center;
  height: 300px;
  background-color: lightblue;
  padding-top: 60px;
}

div #moreQuestions h1 {
  font-family: Red Hat Display;
  font-size: 60px;
}

div #moreQuestions p {
  font-family: Montserrat;
  font-size: 25px;
}

/* Media Queries */
@media (max-width: 623px) {
  #moreQuestions {
    padding-top: 50px;
  }

  div #moreQuestions h1 {
    font-size: 40px;
  }

  div #moreQuestions p {
    font-size: 16px;
  }
}
