#community-page-container {
  padding-top: 40px;
}

#communities-header {
  font-family: Oswald;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

#filter-header {
  font-family: Oswald;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.filters-container {
  margin-bottom: 30px;
}

.state-select-dropdown {
  width: 100%;
  font-family: Oswald;
  font-size: 24px;
}

.community-state-names {
  text-align: center;
  font-family: Oswald;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(11, 255, 224, 1) 50%,
    /* rgba(255, 255, 255, 1) 50%, */
    rgba(255, 255, 255, 1) 100%
  );
}

/* COMMUNITY CARDS */
.us-state-card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 50px;
}

.community-card {
  text-align: center;
  background-color: #fafafa;
  box-shadow: 1px 4px 4px 2px darkgrey;
  margin: 10px;
  width: 350px;
  /* background-image: url(../../assets/US_States_Imgs/florida.png);
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: center; */
}

/* ON COMMUNITY CARD HOVER */
.community-card:hover {
  box-shadow: 2px 7px 6px 4px darkgrey;
  animation-name: community-card-float;
  top: -2px;
  animation-duration: 300ms;
}

/* COMMUNITY NAME/TITLE */
.community-card-title {
  font-family: Oswald;
}

/* COMMUNITY NAME */
.community-name {
  font-size: 36px;
  font-weight: bold;
}

/* COMMUNITY CITY/STATE */
.community-city {
  font-size: 25px;
}

/* COMMUNITY DETAIL TEXT */
.card-text {
  font-family: Source Sans Pro;
  font-weight: bold;
}

/* COMMUNITY ADDRESS */
.community-card-address {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* COMMUNITY TYPE */
.community-card-type {
  margin-bottom: 10px;
}

/* COMMUNITY CARD HOVER ANIMATION */
@keyframes community-card-float {
  from {
    box-shadow: 1px 4px 4px 2px darkgrey;
    top: 0px;
  }
  to {
    box-shadow: 2px 7px 6px 4px darkgrey;
    top: -2px;
  }
}
