#communities-container {
  padding-top: 40px;
  padding-bottom: 134px;
  background-image: url(../../assets/parakeet-Logomark-offwhite.png);
  background-size: 1750px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

#communities-header {
  font-family: Red Hat Display;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

#filter-header {
  font-family: Red Hat Display;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.filters-container {
  margin-bottom: 30px;
}

.state-select-dropdown {
  width: 100%;
  font-family: Red Hat Display;
  font-size: 24px;
}

.community-state-names {
  text-align: center;
  font-family: Red Hat Display;
  font-size: 45px;
  color: #2fc984;
  border-bottom: solid 3px #fa6261;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(11, 255, 224, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  ); */
}

/* COMMUNITY CARDS */
.us-state-card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 50px;
}

.community-card {
  text-align: center;
  background-color: #fafafa;
  box-shadow: 1px 4px 4px 2px darkgrey;
  margin: 10px;
  width: 350px;
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: center;
}

/* ON COMMUNITY CARD HOVER */
.community-card:hover {
  box-shadow: 2px 7px 6px 4px darkgrey;
  animation-name: community-card-float;
  top: -2px;
  animation-duration: 300ms;
}

/* COMMUNITY NAME/TITLE */
.community-card-title {
  font-family: Red Hat Display;
}

/* COMMUNITY NAME */
.community-name {
  font-size: 32px;
  font-weight: bold;
}

/* COMMUNITY CITY/STATE */
.community-city {
  font-size: 21px;
}

/* COMMUNITY DETAIL TEXT */
.card-text {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: bold;
}

/* COMMUNITY ADDRESS */
.community-card-address {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* COMMUNITY TYPE */
.community-card-type {
  margin-bottom: 10px;
}

/* .community-card-button {
  position: relative;
  left: 12%;
} */

/* COMMUNITY CARD HOVER ANIMATION */
@keyframes community-card-float {
  from {
    box-shadow: 1px 4px 4px 2px darkgrey;
    top: 0px;
  }
  to {
    box-shadow: 2px 7px 6px 4px darkgrey;
    top: -2px;
  }
}

/* PARAKEET LOGO ON BOTTOM OF CARD */
.community-card-logo {
  position: absolute;
  left: 88%;
  max-width: 55px;
  max-height: 55px;
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
  #communities-container {
    background-image: none;
  }

  .state-select-dropdown {
    margin-bottom: 25px;
  }
  .community-state-names {
    font-size: 32px
  }
}

@media (max-width: 300px) {
  .community-card-logo {
    left: 84%;
  }
}
