#communities-header {
  font-family: Oswald;
  text-align: center;
  margin: 40px 0px;
}

.community-state-names {
  text-align: center;
  font-family: Oswald;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(11, 255, 224, 1) 10%,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 1) 100%
  );
}

/* COMMUNITY CARDS */
.us-state-card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 50px;
}

.community-card {
  text-align: center;
  background-color: #fafafa;
  box-shadow: 1px 4px 4px 2px darkgrey;
  margin: 10px;
  width: 350px;
}

.community-card:hover {
  box-shadow: 2px 7px 6px 4px darkgrey;
  animation-name: community-card-float;
  top: -2px;
  animation-duration: 300ms;
}

.community-card-title {
  font-family: Oswald;
}

.community-list {
  font-family: Source Sans Pro;
}

/* COMMUNITY CARD HOVER ANIMATION */
@keyframes community-card-float {
  from {
    box-shadow: 1px 4px 4px 2px darkgrey;
    top: 0px;
  }
  to {
    box-shadow: 2px 7px 6px 4px darkgrey;
    top: -2px;
  }
}
