#footer {
  bottom: 0;
  height: 150px;
  width: 100%;
  background-color: rgb(24, 41, 41);
}

/* FOOTER LOGO */
#footerLogo {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 150px;
}

/* FOOTER ADDRESS */
#footer-address {
  color: white;
  font-family: Source Sans Pro;
  padding-top: 50px;
}

/* FOOTER LINKS */
#footer-link-list {
  padding-top: 40px;
}

.footer-link-title {
  font-family: Oswald;
  color: white;
}

.footer-link {
  color: white;
  font-size: 22px;
  font-family: Oswald;
}

.footer-link:hover {
  text-decoration: none;
  color: #ffcc3b;
}

.footer-icon {
  color: white;
}

.footer-icon:hover {
  color: white;
}

/* MEDIA QUERIES */
@media (max-width: 990px) {
  #footerLogo {
    margin-top: 30px;
  }
}

@media (max-width: 766px) {
  #footerLogo {
    max-width: 100%;
    max-height: 150px;
  }
  #footer-address {
    padding-top: 30px;
  }
}

@media (max-width: 660px) {
  .footer-link {
    font-size: 15px;
  }
}

@media (max-width: 575px) {
  #footer {
    height: auto;
  }

  #footerLogo {
    max-width: 200px;
    max-height: auto;
  }

  #footer-address {
    text-align: center;
  }

  #footer-link-list {
    padding-top: 20px;
    text-align: center;
  }

  .footer-link {
    font-size: 22px;
  }
}
