#footer {
  bottom: 0;
  height: 300px;
  width: 100%;
  background-color: darkslategray;
}

ul {
  list-style-type: none;
  padding: 0px;
}

#links-left {
  margin-top: 90px;
  text-align: right;
}

#links-right {
  margin-top: 90px;
  text-align: left;
}

.footer-link-title {
  font-family: Oswald;
  color: white;
}

.footer-link {
  color: white;
  padding: 10px;
  font-size: 19px;
  font-family: Source Sans Pro;
}

.footer-link:hover {
  text-decoration: none;
  color: #2fc984;
}

#footer-logo-div {
  margin: auto -10px;
}

#footerLogo {
  max-height: auto;
  max-width: 100%;
  margin-top: 60px;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.footer-icon {
  color: white;
}

.footer-icon:hover {
  color: white;
}

/* Media Queries */

@media (max-width: 575px) {
  #footer {
    height: auto;
  }

  #footerLogo {
    max-width: 200px;
    max-height: auto;
  }
}
