.community-page-title-div {
  padding: 30px 0px 30px 0px;
  text-align: center;
}

div .community-page-title-div p {
  font-family: Source Sans Pro;
  font-size: 20px;
}

.community-page-title {
  font-family: Oswald;
}

/* APPLY NOW CALL TO ACTION BLOCK */
#apply-now-action {
  /* display: block; */
  text-align: center;
  height: 300px;
  background-color: #fa6261;
  color: white;
  padding-top: 60px;
  /* margin-bottom: 50px; */
}

div #apply-now-action h1 {
  font-family: Oswald;
  font-size: 60px;
}

div #apply-now-action p {
  font-family: Source Sans Pro;
  font-size: 25px;
}

/* MEDIA QUERIES */
@media (max-width: 320px) {
  #apply-now-action {
    padding-top: 55px;
  }

  div #apply-now-action h1 {
    font-size: 40px;
  }
}

@media (max-width: 245px) {
  #apply-now-action {
    padding-top: 40px;
  }
  div #apply-now-action p {
    font-size: 20px;
  }
}
