div #community-page-container h3 {
  font-family: Montserrat;
  font-weight: bold;
}

.community-page-title-div {
  padding: 30px 0px 20px 0px;
  text-align: center;
}

div .community-page-title-div p {
  font-family: Montserrat;
  font-size: 18px;
}

.community-page-title {
  font-family: Red Hat Display;
  font-weight: bolder;
}

/* MEDIA QUERIES */
@media (max-width: 320px) {
  #apply-now-action {
    padding-top: 55px;
  }

  div #apply-now-action h1 {
    font-size: 40px;
  }
}

@media (max-width: 245px) {
  #apply-now-action {
    padding-top: 40px;
  }
  div #apply-now-action p {
    font-size: 20px;
  }
}
