/* Logo colors */
/* reddish purple: #2f4d65;
orange: #fa6261;
green: #2fc984;
yellow: #ffcc3b; */


.carouself-highlight-text {
  color: #2fc984;
}

/* The 3 heading cards */
.heading-card {
  text-align: center;
  margin-top: 55px;
}

.card-img-top {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-top: 15px;
}

/* Featured Text and Images */
.featured-center {
  height: 400px;
  padding: 150px 0;
}

#middleFeatured {
  text-align: right;
}

/* .featured-image-container {
  margin-bottom: 75px;
} */

/* <hr> Dividers */
.divider {
  margin: 5rem 0;
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: lightgrey;
  height: 1px;
}

/* US Map Styles */
.map-container {
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

path {
  pointer-events: all;
}
path:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* All green buttons */
.btn-success {
  background-color: #2fc984;
}

.btn-outline-success {
  font-family: Oswald;
}

.btn-outline-success:hover {
  background-color: #fa6261;
}


/* Media Queries */
@media (min-width: 1200px) {
  .page-core {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .page-core {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .page-core {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .page-core {
    max-width: 540px;
  }
}
