#info-cards {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 20rem;
  text-align: center;
}

.card-img-top {
  width: 50%;
  height: 40%;
  border-radius: 50%;
  margin-top: 15px;
}
