#navHeader {
  background-color: black;
}

/* Logo Styling */
#fullLogo {
  height: auto;
  width: 100%;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logoLink {
  height: auto;
  width: 100%;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Nav Divider */
#navDivider {
  width: 45%;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Link styling */
.nav-link {
  font-family: Oswald;
  font-size: 20px;
  border-left: 3px solid transparent;
}

.nav-link:hover {
  border-left: 3px solid #ffcc3b;
  padding-top: 2px;
  animation-name: nav-link-border;
  animation-duration: 500ms;
}

/* Link hover animation */
@keyframes nav-link-border {
    from{border-left: 3px solid transparent; padding-top: 8px;}
    to{border-left: 3px solid #ffcc3b; padding-top: 2px;}
}