#navHeader {
  background-color: black;
}

/* Logo Styling */
#fullLogo {
  height: auto;
  width: 100%;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logoLink {
  height: auto;
  width: 100%;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Nav Divider */
#navDivider {
  width: 45%;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Link styling */
.nav-link {
  font-family: Red Hat Display;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;
  margin-left: 3px;
}

.nav-link:hover {
  border-bottom: 3px solid #ffcc3b;
  padding-top: 2px;
  animation-name: nav-link-border;
  animation-duration: 500ms;
}

/* Link hover animation */
@keyframes nav-link-border {
    from{border-bottom: 3px solid transparent; padding-top: 8px;}
    to{border-bottom: 3px solid #ffcc3b; padding-top: 2px;}
}

/* Media Queries */
@media (max-width: 991px) {
  .nav-link {
    font-size: 20px;
    border-bottom: initial;
    padding-bottom: 5px;
    margin-left: initial;
  }

  .nav-link:hover {
    border-bottom: initial;
    padding-top: 8px;
    animation-name: initial;
    animation-duration: initial;
  }
}